* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
.mycontainer {
    width: 100%;
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(103,150,103);
}
.house {
 width: 70rem;
 height: 45rem;
 position: relative;
 perspective: 100rem;
 background-color: #ededed !important;
}
.main-roof {
    /*opacity: .5;*/
    width: 110%;
    height: 20rem;
    background-color: rgb(8, 67, 145);
    position: absolute;
    top: -12rem;
    left: -5%;
    transform: rotateX(25deg);
    -webkit-transform: rotateX(25deg);
    -moz-transform: rotateX(25deg);
    -ms-transform: rotateX(25deg);
    -o-transform: rotateX(25deg);
    box-shadow: .5rem 1rem 1.5rem #222;
    border-radius: 1rem 1rem .5rem .5rem;
    -webkit-border-radius: 1rem 1rem .5rem .5rem;
    -moz-border-radius: 1rem 1rem .5rem .5rem;
    -ms-border-radius: 1rem 1rem .5rem .5rem;
    -o-border-radius: 1rem 1rem .5rem .5rem;
}
.window {
    width: 7rem;
    height: 10rem;
    background-color: #aaa;
    border: .3rem solid #333;
    position: relative;
}
.window::before {
    content: "";
    height: .3rem;
    width: 6.7rem;
    background-color: #333;
    position: absolute;
    top: 4.5rem;
    left: 0;
}
.window::after {
    content: "";
    height: 100%;
    width: .3rem;
    background-color: #333;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.windows {
    display: flex;
    justify-content: space-between;
    height: 45rem;
    margin-top: 1.5rem;
}
.win-lefts , .win-rights{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    margin: 0 7rem;
}
.top-left , .top-right {
    border-radius: 50% 50% 0 0;
    -webkit-border-radius: 50% 50% 0 0;
    -moz-border-radius: 50% 50% 0 0;
    -ms-border-radius: 50% 50% 0 0;
    -o-border-radius: 50% 50% 0 0;
}
.room {
    width: 25rem;
    height: 80%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    perspective: 100rem;
    -o-transform: translateX(-50%);
}
.room-roof {
    width: 110%;
    height: 15rem;
    background-color: rgb(8, 67, 145);
    position: absolute;
    top: -13rem;
    left: -5%;
    transform: rotateX(25deg);
    -webkit-transform: rotateX(25deg);
    -moz-transform: rotateX(25deg);
    -ms-transform: rotateX(25deg);
    -o-transform: rotateX(25deg);
    box-shadow: .5rem 1rem 2rem #222;
    border-radius: 1rem 1rem .5rem .5rem;
    -webkit-border-radius: 1rem 1rem .5rem .5rem;
    -moz-border-radius: 1rem 1rem .5rem .5rem;
    -ms-border-radius: 1rem 1rem .5rem .5rem;
    -o-border-radius: 1rem 1rem .5rem .5rem;
}
.top-window {
    width: 12rem;
    height: 13rem;
    background-color: rgba(112, 22, 22, .8);
    position: absolute;
    top: 3.5rem;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    border-radius: 50% 50% 0 0;
    -webkit-border-radius: 50% 50% 0 0;
    -moz-border-radius: 50% 50% 0 0;
    -ms-border-radius: 50% 50% 0 0;
    -o-border-radius: 50% 50% 0 0;
    border: .3rem solid #444;
    perspective: 100rem;
}
.top-window:hover .top-win-left {
    transform: rotateY(-50deg);
    -webkit-transform: rotateY(-50deg);
    -moz-transform: rotateY(-50deg);
    -ms-transform: rotateY(-50deg);
    -o-transform: rotateY(-50deg);
}
.top-window:hover .top-win-right {
    transform: rotateY(50deg);
    -webkit-transform: rotateY(50deg);
    -moz-transform: rotateY(50deg);
    -ms-transform: rotateY(50deg);
    -o-transform: rotateY(50deg);
}
.top-win-left {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
    border-top-left-radius: 50rem;
    position: absolute;
    top: 0;
    left: 0;
    border: .3rem solid #444;
    transform-origin: left;
    transition: transform 1s;
}
.top-win-left::before {
    content: "";
    z-index: 10;
    height: .4rem;
    width: 100%;
    background-color: #444;
    position: absolute;
    top: 5.5rem;
    left: 0;
}
.top-win-right {
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
    border-top-right-radius: 50rem;
    position: absolute;
    top: 0;
    right: 0;
    border: .3rem solid #444;
    transform-origin: right;
    transition: transform 1s;

}
.top-win-right::after {
    content: "";
    z-index: 10;
    height: .4rem;
    width: 100%;
    background-color: #444;
    position: absolute;
    top: 5.5rem;
    right: 0;
}
.door-frame {
    width: 13rem;
    height: 15rem;
    background-color: #444;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border: .5rem solid #222;
    border-bottom: none;
    perspective: 100rem;
}
.door {
    width: 100%;
    height: 100%;
    background-color: rgb(85, 68, 24);
    transition: transform 1s .5s;
    -webkit-transition: transform 1s .5s;
    -moz-transition: transform 1s .5s;
    -ms-transition: transform 1s .5s;
    -o-transition: transform 1s .5s;
    transform-origin: right;
}
.door-handle {
    width: 3rem;
    height: 1rem;
    background-color: #999;
    position: absolute;
    left: 1rem;
    top: 40%;
    border-radius: 100% .5rem .5rem 100%;
    -webkit-border-radius: 100% .5rem .5rem 100%;
    -moz-border-radius: 100% .5rem .5rem 100%;
    -ms-border-radius: 100% .5rem .5rem 100%;
    -o-border-radius: 100% .5rem .5rem 100%;
}
.door.change {
    transform: rotateY(40deg);
    -webkit-transform: rotateY(40deg);
    -moz-transform: rotateY(40deg);
    -ms-transform: rotateY(40deg);
    -o-transform: rotateY(40deg);
}
.door.change .door-handle{
    transform: rotateZ(20deg);
    -webkit-transform: rotateZ(20deg);
    -moz-transform: rotateZ(20deg);
    -ms-transform: rotateZ(20deg);
    -o-transform: rotateZ(20deg);
    transform-origin: left;
}




@media only screen and (max-width : 900px) {
    .house {
        width: 50rem;
       }
       .window {
        width: 5rem;
        height: 7rem;
        border: .2rem solid #333;
    }
    .windows {
        margin-top: 2rem;
    }
    .window::before {
        height: .2rem;
        width: 4.7rem;
        top: 3rem;
    }
    .window::after {
        width: .2rem;
    }
    .room {
        width: 15rem;
    }
    .room-roof {
        width: 130%;
        height: 12rem;
        top: -10rem;
        left: -15%;
    }
    .top-window {
        width: 7rem;
        height: 9rem;
        top: 5rem;
    }
    .top-window::before {
        height: .4rem;
        width: 6.5rem;
    }
    .top-win-left::before {
        top: 3rem;
        left: -.01rem;
        width: 101%;   
    }
    .top-win-right::after {
        top: 3rem;
        right: -.02rem;
        width: 102%;
    }
    .door-frame {
        width: 9rem;
        height: 13rem;
    }
    .door-handle {
        width: 2rem;
        height: .7rem;
    }
}

@media only screen and (max-width : 700px) {
    .house {
        width: 40rem;
       }
       .main-roof {
        height: 17rem;
       }
       .window {
        width: 4.5rem;
        height: 5.5rem;
    }
    .windows {
        margin-top: -2rem;
    }
    .win-lefts , .win-rights{
        margin: 0 4.5rem;
   
    }
    .window::before {
        width: 4.2rem;
        top: 2.2rem;
    }
    .window::after {
        width: .2rem;
    }
    .room {
        width: 15rem;
        height: 32rem;
    }
    .room-roof {
        height: 10rem;
        top: -8rem;
    }
    .top-window {
        width: 6.5rem;
        height: 8.5rem;
        top: 6rem;
}
    .door-frame {
        width: 8rem;
    }
    .door-handle {
        width: 1.7rem;
        height: .6rem;
    }
}