* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
  }
  
  html {
    font-size: 62.5%;
    background-color: #12121f;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .calendar {
    width: 45rem;
    height: 52rem;
    background-color: #222227;
    box-shadow: 0 .5rem 3rem rgba(0, 0, 0, .6);
  }
  .month {
    width: 100%;
    height: 12rem;
    background-color: #167e56;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-shadow: 0 .3rem .3rem rgba(0, 0, 0, .6);
  }
  .month i {
    font-size: 2.5rem;
    cursor: pointer;
  }
  .month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin-bottom: 1rem;
  }
  .month p {
    font-size: 1.6rem;
  }
  .weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 .4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .15rem;
    text-shadow: 0 .3rem .4rem rgba(0, 0, 0, .6);
  }
  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: .3rem;
  }
  .days div {
    font-size: 1.4rem;
    margin: .3rem;
    width: calc(40.2rem/7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
}
  .days div:hover:not(.today) {
    background-color: #262626;
    cursor: pointer;
    border: .2rem solid #777;
  }
  .prev-date ,
  .nex-date {
    opacity: .6;
  }
  .today {
    background-color: #167e56;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
}